#apply-info {
	height: 40px;
	min-height: 40px;
	border-radius: 10px;
	text-indent: 5px;
	width: 110px;
	min-width: 110px;
}

#type-selector {
	border-radius: 10px;
}

.info-label {
	position: relative;
	background-color: #ffffff;
	color: #345386;
	border-radius: 10px;
	top:10px;
	left: 10px;
	width: auto;
	font-size: 14px;
}

.show-list {
	width: 100%;
	margin-top: 5px;
}

#list-element {
	margin-right: 5px;
	display: inline-table;
}

#apply-list {
	margin-top: 5px;
	margin-bottom: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
}

.img-thumbnail {
	border: none;
	cursor: pointer;
	z-index: 20;
}

.btn {
	margin-top: 2px;
}

#fixed-top {
	padding: 5px 0px;
	position:sticky;
	z-index: 10;
	background-color: rgba(253, 253, 253, 0.85);
	top:2px;
}

.info-label {
	font-weight: bold;
}

@media screen {
	#apply-list {
		height: 700px;
	}
}
@media screen and (min-width:481px) and (max-width:768px) {
	#apply-list {
		height: 500px;
	}
}
@media screen and (max-width:480px) {
	#apply-list {
		height: 400px;
	}
}