#apply-info {
	height: 40px;
	min-height: 40px;
	border-radius: 10px;
	text-indent: 5px;
	width: 110px;
}

#type-selector {
	border-radius: 10px;
}

.info-label {
	position: relative;
	background-color: #ffffff;
	color: #345386;
	border-radius: 10px;
	top:16px;
	left: 10px;
	width: auto;
	font-size: small;
}

.show-list {
	width: 100%;
	margin-top: 5px;
}

#apply-list {
	margin-top: 5px;
	margin-bottom: 10px;
}

.img-thumbnail {
	border: none;
	cursor: pointer;
	z-index: 20;
}

.btn {
	margin-top: 2px;
}

#fixed-top {
	padding: 5px 0px;
	position:sticky;
	z-index: 10;
	background-color: rgba(253, 253, 253, 0.85);
	top:2px;
}