<div class="row">
    <div class="col-md-7 col-6">
        <h1>錄取清冊（Email）</h1>
    </div>
</div>
<hr>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        個人申請
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s0_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單(Email)</a></li>
    </ul>
</div>
<div>
    <ul>
        <li><a class="link" id="s0_admitted_list_no_graduate"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單不含研究所(Email)</a></li>
    </ul>
</div>
<div>
    <ul>
        <li><a class="link" id="s0_admitted_list_only_graduate"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單僅有研究所(Email)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第一梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s1_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單(Email)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第二梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s2_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單(Email)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第三梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s3_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單(Email)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第四梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s4_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單(Email)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第五梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s5_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;錄取名單(Email)</a></li>
    </ul>
</div>