<div class="row">
    <div class="col-md-7 col-6">
        <h1>錄取清冊</h1>
    </div>
</div>
<hr>
<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第一梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s1_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;分發名單</a></li>
        <li><a class="link" id="s1_admitted_list_order"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;志願母檔</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        聯合分發第二梯次
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s2_admitted_list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;分發名單</a></li>
        <li><a class="link" id="s2_admitted_list_order"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;志願母檔</a></li>
    </ul>
</div>
