<div class="row">
    <div class="col-md-7 col-6">
        <h1>分發清冊</h1>
    </div>
</div>
<hr>
<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        個人申請 學士班
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s0_list_bachelor"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;分發名單</a></li>
        <!-- <li><a class="link" id="s0_selection_order_bachelor"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;志願母檔</a></li> -->
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        個人申請 研究所
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="s0_list_graduate"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;分發名單</a></li>
        <!-- <li><a class="link" id="s0_selection_order_graduate"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;志願母檔</a></li> -->
    </ul>
</div>
