<div class="row">
    <div class="col-md-7 col-6">
        <h1>招生名額資料</h1>
    </div>
</div>
<hr>
<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        報部總表
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="all_university"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;預定招生名額報部總表(大學+僑先部)</a></li>
        <li><a class="link" id="all_technology"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;預定招生名額報部總表(科大)</a></li>
        <li><a class="link" id="all_all"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;預定招生名額報部總表</a></li>
    </ul>
</div>


<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        學士班
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="bachelor_university"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;學士班預定招生名額(大學+僑先部)</a></li>
        <li><a class="link" id="bachelor_technology"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;學士班預定招生名額(科大)</a></li>
        <li><a class="link" id="bachelor_all"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;學士班預定招生名額(全部)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class="p_card">
        港二技
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="twoYear_university"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技預定招生名額(大學)</a></li>
        <li><a class="link" id="twoYear_technology"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技班預定招生名額(科大)</a></li>
        <li><a class="link" id="twoYear_all"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技班預定招生名額(全部)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card">
        碩士班
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="master_university"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;碩士班預定招生名額(大學)</a></li>
        <li><a class="link" id="master_technology"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;碩士班預定招生名額(科大)</a></li>
        <li><a class="link" id="master_all"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;碩士班預定招生名額(全部)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        博士班
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="phd_university"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;博士班預定招生名額(大學)</a></li>
        <li><a class="link" id="phd_technology"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;博士班預定招生名額(科大)</a></li>
        <li><a class="link" id="phd_all"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;博士班預定招生名額(全部)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        系所資訊
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="has-restrict-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;有年齡或性別限制系所列表</a></li>
        <li><a class="link" id="bachelor-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;學士班全英語授課系所列表</a></li>
        <li><a class="link" id="master-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;碩士班全英語授課系所列表</a></li>
        <li><a class="link" id="phd-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;博士班全英語授課系所列表</a></li>
    </ul>
</div>