<div class="row">
    <div class="col-md-7 col-6">
        <h1>港澳清冊</h1>
    </div>
</div>
<hr>
<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card" id = "macau-card">
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="mc-selection-local-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門個人申請出入境清冊</a></li>
        <li><a class="link" id="mc-placement-local-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門聯合分發(含自願申請僑先部)出入境清冊</a></li>
        <li><a class="link" id="mc-foreign-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門持外國學歷(個申+聯分)出入境清冊</a></li>
        <li><a class="link" id="mc-selection-local-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門個人申請身份查核通報名冊</a></li>
        <li><a class="link" id="mc-placement-local-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門聯合分發(含自願申請僑先部)身份查核通報名冊</a></li>
        <li><a class="link" id="mc-foreign-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門持外國學歷(個申+聯分)身份查核通報名冊</a></li>
    </ul>
</div>


<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" id = "hongkong-card">
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="hk-selection-local-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港個人申請出入境清冊</a></li>
        <li><a class="link" id="hk-placement-local-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港聯合分發出入境清冊</a></li>
        <li><a class="link" id="hk-to-preparatory-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港自願免試申請僑先部出入境清冊</a></li>
        <li><a class="link" id="hk-selection-foreign-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港持外國學歷個人申請出入境清冊</a></li>
        <li><a class="link" id="hk-placement-foreign-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港持外國學歷聯合分發出入境清冊</a></li>
        <li><a class="link" id="hk-selection-local-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港個人申請身份查核通報名冊</a></li>
        <li><a class="link" id="hk-placement-local-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港聯合分發身份查核通報名冊</a></li>
        <li><a class="link" id="hk-to-preparatory-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港自願免試申請僑先部身份查核通報名冊</a></li>
        <li><a class="link" id="hk-selection-foreign-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港持外國學歷個人申請身份查核通報名冊</a></li>
        <li><a class="link" id="hk-placement-foreign-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港持外國學歷聯合分發身份查核通報名冊</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" id = "graduated-card" >
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="graduated-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;研究所出入境清冊</a></li>
        <li><a class="link" id="graduated-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;研究所身份查核通報名冊</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" id = "two-year-card">
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="two-year-immigration"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技出入境清冊</a></li>
        <li><a class="link" id="two-year-check"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技身份查核通報名冊</a></li>
    </ul>
</div>
