<div class="row">
    <div class="col-md-7 col-6">
        <h1>收件清冊</h1>
    </div>
</div>
<hr>
<div class="w3-card" style="border-radius: 15px">
    <div  class=" p_card">
        凱婷
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="mc_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門個人申請</a></li>
        <li><a class="link" id="mc_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門聯合分發(含自願申請僑先部)</a></li>
        <li><a class="link" id="mc_foreign_edu"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;澳門持外國學歷(個申+聯分)</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div  class="p_card">
        楷嘉
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="test_area_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;測驗地區個人申請（文憑別為學科測驗或綜合學科測驗，但不含澳門）</a></li>
        <li><a class="link" id="myanmar_teacher_education"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;緬甸師培專案</a></li>
        <li><a class="link" id="myanmar_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;緬甸聯合分發</a></li>
        <li><a class="link" id="test_area_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;測驗地區聯合分發（文憑別為學科測驗或綜合學科測驗，但不含澳門）</a></li>
        <li><a class="link" id="mya_sg_ph_to_preparatory_program"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;免試申請橋先部（緬十、新、菲）</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card">
        楷榕
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="hk_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港個人申請</a></li>
        <li><a class="link" id="hk_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港聯合分發</a></li>
        <li><a class="link" id="hk_to_preparatory_program"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港自願免試申請僑先部</a></li>
        <li><a class="link" id="hk_foreign_edu_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港持外國學歷個人申請</a></li>
        <li><a class="link" id="hk_foreign_edu_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;香港持外國學歷聯合分發</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        旻燁
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="graduated"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;研究所</a></li>
        <li><a class="link" id="indonesia_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;印尼個人申請</a></li>
        <li><a class="link" id="indonesia_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;印尼聯合分發</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        向榮
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="malaysia_spring"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;馬春班</a></li>
        <li><a class="link" id="malaysia_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;馬來西亞個人申請</a></li>
        <li><a class="link" id="malaysia_stage1_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;馬來西亞聯合分發第一梯次</a></li>
        <li><a class="link" id="malaysia_stage2_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;馬來西亞聯合分發第二梯次</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        嘉偵
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="preparatory_program_graduated_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;僑先部結業生個人申請收件清冊</a></li>
        <li><a class="link" id="preparatory-program_graduated_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;僑先部結業生聯合分發收件清冊</a></li>
        <li><a class="link" id="ocac_selection"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;僑委會 ocac2(董惠鈞）ocac3(賴怡菁）個人申請收件清冊</a></li>
        <li><a class="link" id="ocac_placement"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;僑委會 ocac2(董惠鈞）ocac3(賴怡菁）聯合分發收件清冊</a></li>
        <li><a class="link" id="two_year"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技收件清冊</a></li>
    </ul>
</div>
