<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
    <div class="col-md-7 col-6">
        <h2>使用者列表</h2>
    </div>
    <div class="col-md-5 col-6 text-right">
        <div class="form-group">
            <input id="editor-filter-input" class="form-control" type="text" placeholder="搜尋">
        </div>
    </div>
</div>

<table id="editor-list" class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign='nospan'></th>
        <th>帳號</th>
        <th>學校</th>
        <th>單位</th>
        <th>姓名</th>
        <th>電話</th>
        <th>Email</th>
        <th>地址</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>