<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div>
    <h2 class="title">學校請求清單</h2>
    

    <div class="row filter-and-handle" style="padding-top: 12px;">
        <div class="filter-type">
            <button class="btn btn-outline-secondary" id="select-btn">全選</button>&nbsp;
            <label class="filter-btn-type">
                <input class="filter-btn" type="radio" name="target" value="all" checked>全部
            </label>&nbsp;
            <label class="filter-btn-type">
                <input class="filter-btn" type="radio" name="target" value="not-verified">未鎖定
            </label>&nbsp;
            <label class="filter-btn-type">
                <input class="filter-btn" type="radio" name="target" value="verified">已鎖定
            </label>&nbsp;
            <label class="filter-btn-type">
                <input class="filter-btn" type="radio" name="target" value="executed">已執行
            </label>&nbsp;
            <a title="操作說明" data-toggle="modal" data-target=".info-modal" style="cursor: pointer;">
                <i class="far fa-question-circle" aria-hidden="true"></i>
            </a>
        </div>
        <div class="handle-type">
            <button class="btn btn-outline-secondary handle-btn-type" id="save-btn">儲存修正</button>
            <button class="btn btn-outline-secondary handle-btn-type" id="verified-btn">確認鎖定</button>
            <button class="btn btn-outline-danger handle-btn-type" id="reject-btn"><i class="fa fa-reply-all" aria-hidden="true"></i> 退回請求</button>
            <button class="btn btn-outline-info handle-btn-type" id="execute-btn"><i class="fa fa-cog" aria-hidden="true"></i> 執行請求</button>
            <button class="btn btn-outline-success handle-btn-type" id="completed-btn"><i class="fa fa-check-square" aria-hidden="true"></i> 完成請求</button>
        </div>
        
    </div>
</div>
<div class="col-12" id="form-addNewDepartmentApply">
    <hr>
    <div id="apply-list"></div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <div id="pagination-container">
                </div>
            </table>
        </div>
    </div>
</div>

<!-- 顯示公文modal -->
<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true" id="img-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center" id="img-modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> 離開</button>
			</div>
		</div>
	</div>
</div>

<!-- 顯示申請人資料 Modal -->
<div class="modal fade applicant-info-modal" tabindex="-1" role="dialog" aria-labelledby="applicantModal" aria-hidden="true" id="applicant-info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">申請人資料</h5>
            </div>
            <div class="modal-body" id="applicant-modal-body">    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> 離開</button>
            </div>
        </div>
    </div>
</div>

<!-- 顯示說明modal -->
<div class="modal fade info-modal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true" id="info-modal">
	<div class="modal-dialog" style="min-width: 80%;">
		<div class="modal-content">
			<div class="modal-body text-center">
                <img src="./img/schoolApply.png" style="width: 100%; max-width:900px; padding-bottom:15px;">
                <br/>
                <div class="text-left" style="margin-left: 8%;">
                    <b>注意事項：</b><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span>各請求最後執行結果，若修正欄位有輸入修正資料就以修正內容為主；若未輸入修正資料則以原請求內容為主。</span><br>
                    <!-- <b>例外情況：</b>
                    <ol>
                        <li>新增系所</li>
                        <ul>
                            <li>若系所情況為：「原已存在該系所，但被刪除」，填入原系所代碼後，系統將重新啟用原系所，並更新核定系名。</li>
                        </ul>
                        <li>更改系名</li>
                        <ul>
                            <li>若系所代碼不存在，系統將執行新增系所。</li>
                        </ul>
                        <li>更換類組</li>
                        <ul>
                            <li>若系所代碼不存在，系統將執行新增系所。</li>
                            <li>若學制為學士班，系統將執行新增系所、並將連動表格對應id修改，再將原系所軟刪除</li>
                        </ul>
                        <li>合併系所</li>
                        <ul>
                            <li>若欲合併的代碼於該學校該學制下僅一個存在，對該存在的系所執行更改系名/更換類組</li>
                            <li>若欲合併的代碼於該學校該學制下皆不存在，執行新增系所</li>
                        </ul>
                    </ol> -->
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> 離開</button>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>