<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">

<h2 class="text-center title">學校請求清單</h2>
<div class="row justify-content-end col-12">
    <button class="btn btn-outline-danger" id="reject-btn"><i class="fa fa-reply-all" aria-hidden="true"></i> 退回請求</button>
    <button class="btn btn-outline-info" id="execute-btn" style="margin-left: 5px;"><i class="fa fa-cog" aria-hidden="true"></i> 執行請求</button>
    <button class="btn btn-outline-success" id="completed-btn" style="margin-left: 5px;"><i class="fa fa-check-square" aria-hidden="true"></i> 完成請求</button>
</div>
<div class="row justify-content-between col-12" style="padding-top: 7px;">
    <div>
        <button class="btn btn-outline-secondary" style="height: 32px; padding: 3px 5px;" id="select-btn">選取</button>&nbsp;
        <input type="radio" name="target" value="all" checked><label>全部</label>&nbsp;
        <input type="radio" name="target" value="verified"><label>已鎖定</label>&nbsp;
        <input type="radio" name="target" value="executed"><label>已執行</label>&nbsp;&nbsp;
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <div>
        <button class="btn btn-outline-success" style="height: 32px; padding: 3px 5px;" id="save-btn">暫存修正</button>
        <button class="btn btn-outline-danger" style="height: 32px; padding: 3px 5px;" id="verified-btn">確認鎖定</button>
    </div>
</div>
<div class="col-12" id="form-addNewDepartmentApply">
    <hr>
    <div id="apply-list"></div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <div id="pagination-container">
                </div>
            </table>
        </div>
    </div>
</div>
<div class="row justify-content-end col-12">
    <button class="btn btn-outline-danger" id="reject-btn"><i class="fa fa-reply-all" aria-hidden="true"></i> 退回請求</button>
    <button class="btn btn-outline-info" id="execute-btn" style="margin-left: 5px;"><i class="fa fa-cog" aria-hidden="true"></i> 執行請求</button>
    <button class="btn btn-outline-success" id="completed-btn" style="margin-left: 5px;"><i class="fa fa-check-square" aria-hidden="true"></i> 完成請求</button>
</div>

<!-- 顯示公文modal -->
<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true" id="img-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center" id="img-modal-body">
				<img src="" class="img-fluid rounded img-ori">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> 離開</button>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>