<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
    <div class="col-md-7 col-6">
        <h2>學生列表</h2>
    </div>
    <div class="col-md-5 col-6 text-right">
        <div class="form-group">
            <input id="student-filter-input" class="form-control" type="text" placeholder="搜尋">
        </div>
    </div>
</div>

<table id="student-list" class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign='nospan'></th>
        <th>報名序號</th>
        <th>僑生編號</th>
        <th>姓名</th>
        <th>性別</th>
        <th>Email</th>
        <th>班別</th>
        <th>身份別</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="editStudentInfoModal" tabindex="-1" role="dialog" aria-labelledby="editStudentInfoTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-studentInfo">

            <div class="modal-header">
                <h5 class="modal-title" id="editStudentInfoTitle">
                    學生詳細資料
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="row">
                            <div id="idForm" class="form-group col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            報名序號
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="id" disabled>
                                </div>
                            </div>
                            <div id="overseasIdForm" class="form-group col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            僑生編號
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="overseasId">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="nameForm" class="form-group col-6">
                                <label for="name">姓名（中）</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div id="engNameForm" class="form-group col-6">
                                <label for="engName">姓名（英）</label>
                                <input type="text" class="form-control" id="engName">
                            </div>
                        </div>

                        <div class="row">
                            <div id="emailForm" class="form-group col-6">
                                <label for="email">E-mail</label>
                                <input type="text" class="form-control" id="email" disabled>
                            </div>
                            <div id="backupEmaileForm" class="form-group col-6">
                                <label for="backupEmail">備用 E-mail</label>
                                <input type="text" class="form-control" id="backupEmail">
                            </div>
                        </div>

                        <div class="row">
                            <div id="genderForm" class="form-group col-6">
                                <label>性別</label>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input gender" type="radio" name="gender" id="genderf" value="F">
                                    <label class="form-check-label" for="genderf">女</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input gender" type="radio" name="gender" id="genderm" value="M">
                                    <label class="form-check-label" for="genderm">男</label>
                                </div>
                            </div>
                            <div id="birthdayForm" class="form-group col-6">
                                <label for="birthday">生日</label>
                                <input type="text" class="form-control" id="birthday">
                            </div>
                        </div>

                        <div class="row">
                            <div id="genderForm" class="form-group col-12">
                                <label>出生地、國別</label>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <select id="birthContinent" class="form-control">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select id="birthLocation" class="form-control country">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="form-homeTown" style="display: none;">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="text-danger">* 籍貫</label>
                                    <div class="input-group">
                                        <input type="text" id="homeTownProvince" class="form-control">
                                        <span class="input-group-addon">省</span>
                                        <input type="text" id="homeTownCity" class="form-control">
                                        <span class="input-group-addon">市</span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">於西元</span>
                                        <input type="text" id="whenToResident" class="form-control" placeholder="YYYY">
                                        <span class="input-group-addon">年從</span>
                                        <input type="text" id="whereToResident" class="form-control" placeholder="某地">
                                        <span class="input-group-addon">到達現居留地</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group">
                                    <label>是否為「身心障礙」或「特殊照護」或「特殊教育」者</label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input specail" type="radio" name="special" id="specialn" value="0">
                                        <label class="form-check-label" for="specialn">否</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input specail" type="radio" name="special" id="specialy" value="1">
                                        <label class="form-check-label" for="specialy">是</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div id="specialForm" class="hide">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="disabilityCategory">障礙類別</label>
                                        <select class="form-control" id="disabilityCategory">
                                            <option value="視覺障礙">視覺障礙</option>
                                            <option value="聽覺障礙">聽覺障礙</option>
                                            <option value="肢體障礙">肢體障礙</option>
                                            <option value="語言障礙">語言障礙</option>
                                            <option value="腦性麻痺">腦性麻痺</option>
                                            <option value="自閉症">自閉症</option>
                                            <option value="學習障礙">學習障礙</option>
                                            <option value="-1">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="disabilityLevel">程度</label>
                                        <select class="form-control" id="disabilityLevel">
                                            <option value="極重度">極重度</option>
                                            <option value="重度">重度</option>
                                            <option value="中度">中度</option>
                                            <option value="輕度">輕度</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="otherDisabilityCategoryForm">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="otherDisabilityCategory">其他類別</label>
                                        <input class="form-control" type="text" id="otherDisabilityCategory" maxlength="15">
                                        <small class="text-muted">請填寫 15 字內的說明</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" id="studentDetailSave">儲存</button>-->
                <button type="button" class="btn btn-danger" data-dismiss="modal">離開</button>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>