<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
    <div class="col-md-7 col-6">
        <h2>學生列表</h2>
    </div>
    <div class="col-md-5 col-6 text-right">
        <div class="form-group">
            <input id="student-filter-input" class="form-control" type="text" placeholder="搜尋">
        </div>
    </div>
</div>

<table id="student-list" class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign='nospan'></th>
        <th>報名序號</th>
        <th>僑生編號</th>
        <th>姓名</th>
        <th>Email</th>
        <th>班別</th>
        <th>身份別</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="editStudentInfoModal" tabindex="-1" role="dialog" aria-labelledby="editStudentInfoTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-studentInfo">

            <div class="modal-header">
                <h5 class="modal-title" id="editStudentInfoTitle">
                    學生詳細資料
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="row">
                            <div id="idForm" class="form-group col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            報名序號
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="id" disabled>
                                </div>
                            </div>
                            <div id="overseasIdForm" class="form-check col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            僑生編號
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="overseasId">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="nameForm" class="form-group col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            姓名（中）
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div id="engNameForm" class="form-check col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            姓名（英）
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="engName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="emailForm" class="form-group col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            E-mail
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="email">
                                </div>
                            </div>
                            <div id="backupEmaileForm" class="form-check col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            備用 E-mail
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="backupEmail">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="studentDetailSave">儲存</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">離開</button>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>