<div class="row">
    <div class="col-md-7 col-6">
        <h1>支援用資料</h1>
    </div>
</div>
<hr>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        全學生資料
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="all-student-list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;全學生資料清冊</a></li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        系所資訊
    </div>
</div>
<div>
    <ul>
        <li><a class="link" id="has-restrict-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;有年齡或性別限制系所列表</a></li>
        <li><a class="link" id="bachelor-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;學士班全英語授課系所列表</a></li>
        <li><a class="link" id="twoYear-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;港二技全英語授課系所列表</a></li>
        <li><a class="link" id="master-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;碩士班全英語授課系所列表</a></li>
        <li><a class="link" id="phd-has-english-taught-department"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;博士班全英語授課系所列表</a></li>
        <li><a class="link" id="selection-school-departmest-list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;個人申請招生校系名稱列表</a></li>
        <li><a class="link" id="placement-school-departmest-list"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;聯合分發招生校系名稱及代碼列表</a></li>
    </ul>
</div>


<div class="w3-card" style="border-radius: 15px">
    <div class="p_card" >
        開放時間
    </div>
</div>
<div style="width:90%; margin-left:40px;">
    <br/>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
          </tr>
        </thead>
        <tbody id="open-time-table">
        </tbody>
    </table>
</div>